@font-face
{
	font-family: 'Roboto', sans-serif;

}
body
{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#main-page
{
	display: flex;
}
#left-side
{
	font-family: 'Roboto', sans-serif;
	width: 33%;
	background-color: #FFCA28;
}
#right-side
{
	font-family: 'Roboto', sans-serif;
   	width: 67%;
}

/*LEFT-SIDE*/

#mobil-name
{
	display: none;
	font-size: 20px;
}
#mobil-dev
{
	display: none;
}
.picturep
{
	display: flex;
	justify-content: center;
}
img
{
    width: 220px;
	height: 220px;
	border-radius: 50%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: solid 3px #37474F42;
}
.title-left
{
	color: #FDD835;
	background-color: #263238;
	text-align: center;
	text-transform: uppercase;
    font-size: 30px;
   	padding-bottom: 5px;
   	padding-top: 5px;
   	margin-bottom: 45px;
}
.li-left
{
	list-style: none;
	font-size: 16px;
	color: #37474F;
	line-height: 25px;
}
.me
{
	color: #FDD835;
	background-color: #263238;
	text-align: center;
	text-transform: uppercase;
    font-size: 30px;
   	padding-top: 5px;
   	padding-bottom: 5px;
   	margin-top: 60px;
}
.p-about
{
	text-align: center;
   	margin-bottom: 150px;
   	text-align:  justify;
   	margin-left: 40px;
    margin-right: 40px;
   	margin-top: 30px;
   	color: #37474F;
}
.spare-time
{
	color: #FDD835;
	background-color: #263238;
	text-align: center;
	text-transform: uppercase;
    font-size: 30px;
    margin-top: 420px;
   	padding-bottom: 15px;
   	padding-top: 5px;
}
.icon
{
	display: flex;
	justify-content: space-around;
	font-size: 45px;
	margin-left: 40px;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
#swim
{
	border: solid 2px #263238;
	border-radius: 100%;
	padding: 5px;
}
#bicycle
{
	border: solid 2px #263238;
	border-radius: 100%;
	padding: 5px;
}
#pong
{
	border: solid 2px #263238;
	border-radius: 100%;
    padding: 5px;
   	margin-right: 30px;
}

/*RIGHT SIDE*/	

#main-title
{
	margin-top: 110px;
	margin-left: 70px;
	margin-bottom: 60px;
}
#name
{
	font-size: 65px;
	margin-bottom: 10px;
	margin-top: 100px;
}
#name span
{
	color: #FFCA28;
}
#dev
{
	font-size: 25px;
	margin-top: 10px;
	color: #37474F;
}
#dev span
{
	border-bottom: solid 2px #FFCA28;
}
h3 i
{
	margin-right: 25px;
	margin-left: 70px;
	font-size: 25px;
	color: yellow;
	margin-top: 30px;
}
h3
{
	font-size: 25px;
	margin-top: 60px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
hr
{
	height: 2px; 
	margin-right: 40px;
	margin-left: 70px;
    background-color: #FFC107;
    border: none;
}
.time
{
	float: left;
	margin-left: 70px;
}
.fa-dot-circle
{
	font-size: 15px;
	color: #FFCA28;
	margin-right: 15px;
}
.paris
{
	margin-left: 31px;
}
.fa-circle
{
	font-size: 15px;
	color: #FFCA28;
	margin-right: 15px;
}
.orleans
{
	margin-left: 30px;
}
h4
{
	margin-top: 35px;
	color: #37474F;
	font-size: 22px;
	margin-left: 300px;
}
h5
{
	color: #37474F;
	font-size: 17px;
	margin-left: 300px;
}
p
{
	color: #37474F;
	font-size: 17px;
	margin-left: 300px;
}
.last-list
{
	margin-top: 30px;
	margin-left: 30px;
}
li
{
	list-style: none;
}
.last-list1 
{
	font-size: 17px;
    float: left;
    width: 50%;
}    
.last-list2 
{
	float: right;
	width: 50%;
}   


@media only screen and (max-width: 520px)

{
	#main-page
	{
		flex-direction: column;
	}
	#left-side, #right-side
	{
		width: 100%;
	}
	#main-title
	{
		display: none;
	}
	#mobil-name
	{
    	display: flex;
		text-align: center;
		background-color: white;
		flex-direction: column;
	}
	#mobil-name h1
	{
		font-size: 45px;
	}
	#mobil-name h3
	{
		font-size: 25px;
	}
	.hobbies h2
	{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.li-left
	{
		margin-right: 40px;
	}
	.time li
	{
		float: none;
    	margin-top: 20px;
		margin-left: 0px;
	}
	h3 i
	{
		margin-right: 5px;
		margin-left: 0px;
		font-size: 25px;
	}
	h3
	{
		font-size: 22px;
		padding: 3px;
	}
	.fa-dot-circle
	{
		margin-left: 0px;
	}
	#experience h4
	{
		margin-left: 55px;
	}
	.time
    {
		padding: 5px;
		margin-left: 0px;
    }
	.time-body h4
	{
		margin-top: 0;
		margin-left: 55px;
		font-size: 19px;
		width: 50%;
	}
	#formation h5
	{
		margin-left: 55px;
	}
	.time-body h5
	{
		margin-left: 55px;
	}
	.time-body p
	{
		margin-left: 20px;
	}
	.last-list
	{
		margin-bottom: 0px;
		line-height: 25px;
	}
	.last-list1
	{
		float: none;
	}
	.last-list2
	{
		float: none;
		margin-bottom: 0px;
	}
	.orleans
	{
		display: none;
	}
	.paris
	{
		display: none;
	}
	.about p
	{
		margin-bottom: 20px;
	} 
	.last-list1 
	{
		font-size: 16px;
	}
}


/* smartphone */

@media only screen and (max-width: 767px) 

{
	#main-page
	{
		flex-direction: column;
	}
	#left-side, #right-side
	{
		width: 100%;
	}
	#right-side
	{
		background-color: #90CAF9;
	}
	#main-title
	{
		display: none;
	}
	#mobil-name
	{
    	display: flex;
		text-align: center;
		background-color: white;
		flex-direction: column;
	}
	.name h1
	{
		font-size: 45px;
		margin: 0;
		padding: 0;
	}
	.dev h3
	{
    	font-size: 25px;
	}
	#mobil-name span
	{
    	color: #FFCA28;
	}
	img
	{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.title-left
	{
		margin-bottom: 5px;
	}
	.li-left
	{
		text-align: center;
	}
	.me
	{
		margin-top: 0px;
	}
	p-about
	{
		margin-bottom: 10px;
	}
	.spare-time
	{
		margin-top: 0px;
	}
	h3 i
	{
		margin-right: auto;
		margin-left:auto;
		margin-top: 0px;
		font-size: 23px;
	}
	#experience h3
	{
		font-size: 23px;
	}
	h3
	{
		font-size: 25px;
		margin-bottom: 10px;
		text-align: center;
		background-color: #1E88E5;
		padding: 0;
		margin: 0;
	}
	hr
	{
		display: none;
	}

	h3 .fa-graduation-cap
    {
		font-size: 25px;
    }
	.fa-dot-circle
	{
		margin-right: 11px;
    	margin-left: 10px;
	}
	.fa-circle
	{
		margin-right: 15px;
    	margin-left: 10px;
	}
	.time
	{
		margin-left: 0px;
	}
	.fa-pencil-alt
	{
		margin-top: 0px;
	}
	.paris
	{
		margin-left: 40px;
	}
	h4
	{
		margin-top: 50px;
		margin-bottom: 10px;
		font-size: 22px;
		margin-left: 240px;
	}
	h5
	{
		margin-top: 5px;
		margin-bottom: 10px;
		color: #37474F;
		margin-left: 240px;
		font-size: 17px;
	}
	p
	{
	    margin-left: 240px;
	    font-size: 17px;
	}
}	

@media screen and (max-width:1024px) 

{
	#main-page
	{
		flex-direction: column;
	}
	#left-side, #right-side
	{
		width: 100%;
	}
	#right-side
	{
		background-color: #90CAF9;
	}
	#main-title
	{
		display: none;
	}
	#mobil-name
	{
    	display: flex;
		text-align: center;
		background-color: white;
		flex-direction: column;
	}
	.name h1
	{
		font-size: 45px;
		margin: 0;
		padding: 0;
	}
	.dev h3
	{
    	font-size: 30px;
	}
    	#mobil-name span
	{
    	color: #FFCA28;
	}
	img
	{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.title-left
	{
		margin-bottom: 5px;
	}
	.li-left
	{
		text-align: center;
	}
	.me
	{
		margin-top: 0px;
	}
	p-about
	{
		margin-bottom: 10px;
	}
	.spare-time
	{
		margin-top: 0px;
	}
	#formation h3
	{
		font-size: 27px;
		margin-bottom: 10px;
		text-align: center;
		background-color: #1E88E5;
		padding: 0;
		margin: 0;
	}
	#formation i
	{
        margin-top: 0px;
	}
	#experience i
	{
		margin-top: 0px;
	}
	#experience h3
	{
		background-color: #1E88E5; 
		text-align: center;
		margin-bottom: 0px;
		font-size: 23px;
	}
	#recommendation h3
	{
		background-color: #1E88E5;
		text-align: center;
	}
	hr
	{
		display: none;
	}
	.fa-dot-circle
	{
		margin-right: 11px;
		margin-left: 10px;
		font-size: 16px;
	}
	.fa-circle
	{
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 30px;
   		font-size: 10px;
	}
	.fa-pencil-alt
	{
		margin-top: 0px;
	}
	.paris
	{
		margin-left: 50px;
	}
	.orleans
	{
		margin-left: 50px;
	}
	h4
	{
		margin-top: 50px;
		margin-bottom: 10px;
		font-size: 22px;
		margin-left: 300px;
	}
	h5
	{
		margin-top: 5px;
		margin-bottom: 10px;
		color: #37474F;
		margin-left: 300px;
		font-size: 17px;
	}
	p
	{
	    margin-left: 300px;
	    font-size: 17px;
    }
	
}

